body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#gameCanvasContainer {
    width: 100%;
    height: 100%;
}

#gameCanvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}
